@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto+Slab');


/*
font-family: 'Press Start 2P', cursive;
font-family: 'Roboto Slab', serif;
*/

* {
    margin: 0;
    padding: 0;
    
}

body, html {
width: 100%;
height: 100%;
}



a {
	color: black;
	text-decoration: none;
	transition: all/6s ease;
	-moz-transition: all/6s ease;
	-webkit-transition: all/6s ease;
	-moz-transition: all/6s ease;
}

a:hover {
	color: black;
	text-decoration: none;
	transition: all/6s ease;
	-moz-transition: all/6s ease;
	-webkit-transition: all/6s ease;
	-moz-transition: all/6s ease;
}

img {
	max-height: 100%;
	height:auto;
	transition: all/6s ease;
	-moz-transition: all/3s ease-out;
	-webkit-transition: all/3s ease-out;
	-moz-transition: all/3s ease-out;
}

hr {
	display: block;
	height: 5px;
	border: 0;
	border-top: 1px solid black;
	margin: 1em 0;
	padding: 0;
}

header{
    float: left;
    background-color: #FF7F50;
    width: 99.4%;
    padding: 0.3%;
    border-bottom: 5px solid #4c0121;
    font-family: 'Roboto Slab', serif;
}


header>div#logo>img {
		width: 100px;
	height: 100px;
	float: left;
}

header>div#logo>span {
    font-size: 1em;
    margin-left: 10px;
	font-family: 'Roboto Slab', serif;
}



header>div#logo>img {
	margin-left: 15%;
}

#logo {
float: left;
width: 10%;
}

#about {
	float: center;
	wifth: 80% ;
} /*PESPOLEZNAYA DICH*/

#reg_auth {
	float: right;
	width: 40%;
}

#about {
	text-align: center;
	width: 80%;
	font-family: 'Roboto Slab', serif;
	font-size: 1em;
	padding-top: 10 px;
}

#about>a {
color: black;	
}	

#about>a:hover {
color: #dfdfdf;
border-bottom: 1px solid silver;	
}	/*PESPOLEZNAYA DICH*/

#about>a:last-child {
	margin-left 5%;
}   /*PESPOLEZNAYA DICH*/

#reg_auth>a {
	color: white;
}

#reg_auth>a {
	color: black;
	font-family: 'Roboto Slab', serif;
}

#btn:hover {
	border-bottom: 2px solid rgba (180, 0, 255, 1);
	margin-top: 7px;
}

#btn:active {
	border-bottom: 0;
	margin-top: 9px;
}

#btn {
	float: right;
	margin-right: 3%;
	margin-top: 5px;
	border-radius: 5px;
	padding: 10px 15px;
	font-size:1em;
	background-color: rgba(224, 95, 43, 1);
	text-shadow: #555555 0 0 2px;
	border-bottom: 4px solid rgba (180, 0, 255, 1);
	font-family: 'Roboto Slab', serif;
}
/* end header */

 nav {
	background-color: #FF7F50;
	width: 99.4%;
	padding: 7px 0.3%;
	float: left;
	border-bottom: 2px solid f6f6f6;
font-family: 'Roboto Slab', serif;
}


 nav>a {
color: black;
font-size: 1.5em;
margin-left: 5%;
}



/* end nav */

#wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#content {
	flex: 1 0 auto;
}

 footer {
	float: left;
    background-color: #FF7F50;
    width: 98%;
    padding: 1%;
    border-top: 5px solid black;
	font-family: 'Roboto Slab', serif;
}
 
 site_name {
	 margin-right: 5%;
	 color: black;
	 font-size: 1.5em;
	 float: right;
	 font-family: 'Roboto Slab', serif;
 }
 
 @media (max-width: 1080px){
	 #clear {
		 clear: both;
	 }
 }
 
 
 
 footer_menu {
	 
     font-size:1.2em;	 
 }

  footer_menu>a {
 margin-left: 2%
 color: black;
 }
 
 footer_menu>a:hover {
	 border-bottom: 1px solid silver;
	 color: black;
 }
 
 rights {
	 float: left;
	 margin-left: 5%;
	 font-size: 1.1em;
	 margin-top: 20px;
 }
 
 rights>a {
	 color: white;
 }

 social {
	 float: right;
	 width: 40%;
	 margin-right: 5%;
	 margin-top: 10px;
 }
 
 social>a {
	 border-radius: 50%;
	 background-color: rgba(717,91,72,1);
	 margin-left: 2%;
	 width: 30px;
	 height: 30px;
	 float: right;
	 color: white;
	 text-align: center;
	 line-height:30px;
	 font-size: 1.2em;
 }
 
 social>a:hover {
	 background-color: rgba(717,91,72,0.6);
 }
 
  @media (max-width: 520px){
	 #s_name {
		 display: none;
	 }
     #social {
		 width: 100%;
	 }
  }

  #subscribe {
	  float: left;
	  text-align: center;
	  margin-bottom: 20px;
  }
  
  vk_groups {
	  margin: auto;
  }

