
@media (min-width: 1220px) {
    iframe {
        width: 100%;
        margin-right: 10%;
    }
}

@media (max-width: 1119px) and (min-width: 911px) {
    iframe {
        width: 500px;
        height: 350px;
        margin-right: 4%;
    }
}

@media (max-width: 910px) and (min-width: 650px) {
    iframe {
        width: 450px;
        height: 300px;
        margin-right: 5%;
    }
}

@media (max-width: 649px) and (min-width:500px) {
    iframe {
        width: 400px;
        height: 250px;
        margin-right: 15%;
    }
}

@media (max-width: 499px) {
    iframe {
        width: 90%;
        height: 250px;
        margin-right: 5%;
    }
}
